@charset "UTF-8";
/*紹介　ダウンロード　採用　CSS　*/
/*@mixin*/
/*バックカラー　文字色 幅 各種設定*/
/*間隔設定*/
/* 共通css設定 */
@media screen and (max-width: 899px) {
  /*紹介*/
  #contents .introduction_section1 {
    margin: 50px;
  }
  #contents .introduction_img1_1 img {
    width: 100%;
    min-width: 320px;
    height: auto;
  }
  #contents .introduction_img1_2 {
    margin-top: 100px;
  }
  #contents .introduction_img1_2 img {
    width: 100%;
    min-width: 320px;
    height: auto;
  }
  #contents .introduction_img1_2 h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5em;
  }
  #contents .introduction_section2 {
    width: auto;
    margin-top: 30px;
  }
  #contents .introduction_section2 img {
    width: 100%;
    min-width: 320px;
    height: auto;
  }
  #contents .introduction_section3 {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #contents .introduction_section3 .introduction_img3_1 img {
    width: 100%;
    min-width: 320px;
    height: auto;
  }
  #contents .introduction_section3 .introduction_img3_2 img {
    width: 30%;
    min-width: 150px;
    height: auto;
    max-width: 150px;
  }
  #contents .introduction_section4 {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #contents .introduction_section4 .introduction_sec4_title1 {
    padding-top: 15px;
  }
  /*採用実績*/
  #contents .adoption_allset h2 {
    color: #3c3f3f;
  }
  #contents .adoption_allset h3 {
    color: #68bdc5;
  }
  #contents .adoption_allset p {
    color: #f8f9f9;
  }
  #contents .setting {
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-left: 70px;
  }
  #contents .setting p {
    margin: 15px;
  }
  #contents .adopted_lists_other {
    display: inline-block;
  }
  #contents .adopted_lists_other1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  /*紹介*/
  #contents .introduction_section1 {
    margin: 50px;
  }
  #contents .introduction_img1_1 img {
    width: 100%;
    min-width: 320px;
    height: auto;
  }
  #contents .introduction_img1_2 {
    margin-top: 50px;
  }
  #contents .introduction_img1_2 img {
    width: 100%;
    min-width: 320px;
    height: auto;
  }
  #contents .introduction_img1_2 h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.5em;
  }
  #contents .introduction_section2 {
    width: auto;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  #contents .introduction_section2 img {
    width: 100%;
    min-width: 320px;
    height: auto;
  }
  #contents .introduction_section3 {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
  }
  #contents .introduction_section3 .introduction_img3_1 img {
    width: 100%;
    min-width: 320px;
    height: auto;
    z-index: 1;
  }
  #contents .introduction_section3 .introduction_img3_2 img {
    width: 30%;
    min-width: 150px;
    height: auto;
    position: absolute;
    max-width: 100px;
    left: 69%;
    top: 1680px;
    z-index: 5;
    border-radius: 50%;
  }
  #contents .introduction_section3 p {
    margin-top: 90px;
  }
  #contents .introduction_section4 {
    width: auto;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  #contents .introduction_section4 .introduction_sec4_title1 {
    padding-top: 15px;
  }
  /*採用実績*/
}
