
/*ドキュメント　サポート　サンプルエフェクト　開発　CSS　*/

/*バックカラー　文字色 幅 各種設定*/

$main_color: #e9eeee;
$header_color:#848a8a;
$header_select:#f8f9f9;
$header_text:#3c3f3f;
$sashiiro1:#bcc5c5;
$sashiiro2:#68bdc5;
$shadow:#3c3f3f;

$font_h1: 0.5em;
$font_h2: 1.0em;
$font_h3: 1.5em;

$font_text_s: 0.5em;
$font_text_m: 1.2em;
$font_text_l: 2em;

/*間隔設定*/
$kankaku2: 20px;

/*@mixin*/
@mixin sections_top_set ($width: 100%, $display: inline-block, $text-align: left, $margin-left: 50px) {
  width: $width;
  display: $display;
  text-align: $text-align;
  margin-left: $margin-left;
}


/* 共通css設定 */


//モバイルファースト (全環境に共通のデザイン) 

//タブレット用デザインとして付け足すデザイン 

@media screen and (max-width: 899px){

/*ドキュメント*/
#contents .documentation_top_set {
  @include sections_top_set;
  margin-bottom:$kankaku2;
h3 {
  margin-top: $kankaku2;
}
} 

  #contents .help_sections {
    display: inline-block;
    max-width: 255px;
    min-width: 100px;
    height: auto;
    min-height: 300px;
    text-align: center;
    background-color: $header_color;
    border-radius: 2%;
    margin-top: $kankaku2;
    margin-bottom: $kankaku2;
  }

  #contents .help_sections h2 {
    color: $header_text;
  }
  
  #contents .help_sections h3 {
    color: $sashiiro2;
  }
  
  #contents .help_sections p {
    color: $header_select;
  }

  #contents .help_sections img {
    max-width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

#contents .documentation_tutorial_set {
  @include sections_top_set;
  margin-top: $kankaku;
h3 {
  margin-top: 10px;
}
} 

#contents .tutorial_sections {
  margin-bottom: $kankaku;
}

}

//PC用デザインとして付け足すデザイン 

@media screen and (min-width: 900px) {

}